{% load static %}
<html>
    <head>
        <title>Merchex</title>
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}">
    </head>
    <body>

        <nav>
            <a href="{% url 'band-list' %}">Groupes</a>
            <a href="{% url 'song-list' %}">Chansons</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'a-propos' %}">A propos</a>
          </nav>
          
        {% block content %}
        
        {% endblock %}

    </body>
</html>